{{!-- <article class="quiz">
    <h2>{{quiz.quiz_name }}</h2>
    <div>
        {{#each quiz.questions}}
        {{question_text}}
        <div>
            {{#each choices}}
            <button type="button" class="btn btn-primary">{{answer_text}}</button>
        </div>
        {{/each}}
        {{/each}}
    </div>
</article> --}}

{{#each questions.questions}}
<h2>{{question_text}}</h2>
{{#each choices }}
<button id="button">
    <h2>{{answer_text}}</h2>
</button>
{{/each}}
{{/each}}

<script src="/javascript/takeQuiz.js"></script>